<section class="footer">
    <div class="footer__container">
        <div class="footer__info">
            <div class="footer__text">
                <h2 class="footer__title">Plaza Santa Cecilia</h2>
                <p class="footer__description">Una experiencia comercial única en la cuidad de Coatepec, Ver. Estaremos encantados con tu visita.</p>
            </div>
            
            <div class="footer__social">
                <i class="ri-facebook-fill"></i>
                <i class="ri-instagram-fill"></i>
                <i class="ri-twitter-fill"></i>
            </div>
        </div>
        <div class="footer__menu">
            <h3 class="menu-title">Menú</h3>
            <ul class="footer__menu-list">
                <li class="menu-item">
                    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
                </li>
                <li class="menu-item">
                    <a routerLink="mapa">Mapa</a>
                </li>
                <li class="menu-item">
                    <a routerLink="directorio">Directorio</a>
                </li>
                <li class="menu-item">
                    <a routerLink="galeria">Galería</a>
                </li>
                <li class="menu-item">
                    <a routerLink="contacto">Contacto</a>
                </li>
            </ul>
        </div>

        <div class="footer__legal-links">
            <a href="#" class="legal-link">Aviso de Privacidad</a>
            <a href="#" class="legal-link">Política de Cookies</a>
        </div>
    </div>

    <div class="footer__copy">
        <p class="footer__copy-text">&copy; Plaza Santa Cecilia | Todos los derechos reservados</p>
        <p class="footer__copy-hisoka">Sitio web desarrollado por <a href="https://digitalmediaplan.solutions" class="hisoka">Hisoka</a></p>
    </div>
</section>
