<header class="header" id="header">
    <div class="contact-bar">
        <div class="contact-bar__container">
            <div class="contact-bar__contact">
                <a href="mailto:contacto@plazasantacecilia.mx" target="_blank" class="contact-bar__link">
                    <i class="ri-mail-send-line"></i>contacto@plazasantacecilia.mx
                </a>
                <a href="tel:2288351479" class="contact-bar__link">
                    <i class="ri-phone-fill"></i>228 835 1479
                </a>
            </div>
            <div class="contact-bar__social">
                <div class="contact-bar__icon">
                    <i class="ri-facebook-fill"></i>
                </div>
                <div class="contact-bar__icon">
                    <i class="ri-instagram-fill"></i>
                </div>
                <div class="contact-bar__icon">
                    <i class="ri-twitter-fill"></i>
                </div>
            </div>
        </div>
    </div>
    <nav class="nav">
        <a href="#" class="nav__logo">
            <img src="../../../assets/img/logo-santa-cecilia.png" alt="logo temporal">
        </a>

        <div class="nav__menu" [ngClass]="{'show-menu': showMenu}" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  (click)="showMenu = false;" class="nav__link">Inicio</a>
                </li>
                <li class="nav__item">
                    <a routerLink="directorio" (click)="showMenu = false;" class="nav__link">Directorio</a>
                </li>
                <li class="nav__item">
                    <a routerLink="galeria" (click)="showMenu = false;" class="nav__link">Galería</a>
                </li>
                <li class="nav__item">
                    <a routerLink="mapa" (click)="showMenu = false;" class="nav__link">Locales Disponibles</a>
                </li>
                <li class="nav__item">
                    <a routerLink="contacto" (click)="showMenu = false;" class="nav__link">Contacto</a>
                </li>
            </ul>

            <div class="nav__social">
                <div class="nav__icon">
                    <a href="tel:2288351479" class="contact-bar__link">
                        <i class="ri-phone-fill"></i>
                    </a>
                </div>
                <div class="nav__icon">
                    <a href="mailto:contacto@plazasantacecilia.mx" target="_blank" class="contact-bar__link">
                        <i class="ri-mail-send-line"></i>
                    </a>
                </div>
                <div class="nav__icon">
                    <i class="ri-facebook-fill"></i>
                </div>
                <div class="nav__icon">
                    <i class="ri-instagram-fill"></i>
                </div>
                <div class="nav__icon">
                    <i class="ri-twitter-fill"></i>
                </div>
            </div>

            <!-- Botón de cierre -->
            <div class="nav__close" id="nav-close" (click)="toggleNavbar()">
                <i class="ri-close-line"></i>
            </div>

            <div class="nav__img">
                <img class="motivo" src="../../../assets/img/motivo.png" alt="Motivo Santa Cecilia">
            </div>
        </div>
        <!-- Botón toggle -->
        <div class="nav__toggle" id="nav-toggle" (click)="toggleNavbar()">
            <i class="ri-menu-line"></i>
        </div>
    </nav>
</header>
