<main class="main">
    <!-- Hero -->
    <section class="hero">
        <div class="hero__container">
            <div class="premises__data">
                <h2 class="premises__title title">¿Buscar crecer tu negocio?</h2>
                
                <p class="premises__description text">Plaza Santa Cecilia es el lugar que estabas buscando. Contáctanos y pregunta por nuestros locales disponibles. Con gusto te atenderemos.</p>
                
                <div class="premises__list">
                    <div class="premises__feature">
                        <i class="ri-checkbox-blank-circle-line"></i>
                        <span class="premises__text text">Seguridad 24/7</span>
                    </div>
                    <div class="premises__feature">
                        <i class="ri-checkbox-blank-circle-line"></i>
                        <span class="premises__text text">Posibilidad de abrir 24 horas</span>
                    </div>
                    <div class="premises__feature">
                        <i class="ri-checkbox-blank-circle-line"></i>
                        <span class="premises__text text">Excelente ubicación</span>
                    </div>
                    <div class="premises__feature">
                        <i class="ri-checkbox-blank-circle-line"></i>
                        <span class="premises__text">Estrategias digitales incluidas</span>
                    </div>
                </div>

                <a class="light-button premises__button" href="https://api.whatsapp.com/send?phone=5212288351479" target="_blank">MÁS INFORMACIÓN <i class="ri-whatsapp-line"></i></a>
            </div>
            <img src="../../../assets/img/locales-disponibles-bg.jpg" alt="Mapa para llegar a Plaza Santa Cecilia" class="hero__bg">
            <div class="layer"></div>
        </div>
    </section>

    <!-- Contacto -->
    <section class="contact">
        <h2 class="contact__title title">¿Aún no sabes como llegar?</h2>
        <div class="contact__container">

            <div class="contact__info">
                <h3 class="contact__subtitle">Escríbenos o contáctanos. Con gusto te ayudaremos</h3>
                <p class="contact__description">Estaremos encantados de atenderte a la brevedad.</p>

                <div class="contact__links">
                    <a class="contact__link" href="https://www.google.com/maps/dir/21.1550208,-101.646336/plaza+santa+cecilia+coatepec/" target="_blank">
                        <i class="ri-map-pin-2-fill"></i>
                        <span class="link-text">Centenario 3, Centro, 91150 Coatepec, Ver.</span>
                    </a>
                    <a class="contact__link" href="mailto:info@plazasantacecilia.com" target="_blank">
                        <i class="ri-mail-send-line"></i>
                        <span class="link-text">info@plazasantacecilia.com</span>
                    </a>
                    <a class="contact__link" href="tel:2288351479">
                        <i class="ri-phone-fill"></i>
                        <span class="link-text">228 835 1479</span>
                    </a>
                </div>
            </div>

            <form action="" class="contact__form">
                <input type="text" name="nombre" id="nombre" placeholder="Tu nombre...">
                <input type="email" name="correo" id="correo" placeholder="Tu correo...">
                <textarea name="mensaje" id="mensaje" cols="30" rows="10" placeholder="Tu mensaje..."></textarea>

                <button type="submit" class="dark-button">ENVIAR <i class="ri-mail-send-line"></i></button>
            </form>
        </div>
    </section>
</main>
