<main class="main">
    <!-- Hero -->
    <section class="hero">
        <div class="hero__container">
            <h1 class="hero__title">Galería</h1>
            <img src="../../../assets/img/galeria-bg.jpg" alt="Mapa para llegar a Plaza Santa Cecilia" class="hero__bg">
            <div class="layer"></div>
        </div>
    </section>

    <!-- Galería -->
    <section class="gallery">
        <div class="gallery__container">
            <h1 class="gallery__title title">Lo que necesitas, todo en Santa Cecilia</h1>

            <div class="gallery__imgs">
                <img src="../../../assets/img/plaza-santa-cecilia-1.jpg" alt="Plaza Santa Cecilia 1" class="gallery__img">
                <img src="../../../assets/img/plaza-santa-cecilia-2.jpg" alt="Plaza Santa Cecilia 2" class="gallery__img">
                <img src="../../../assets/img/plaza-santa-cecilia-3.jpg" alt="Plaza Santa Cecilia 3" class="gallery__img">
                <img src="../../../assets/img/plaza-santa-cecilia-6.jpg" alt="Plaza Santa Cecilia 6" class="gallery__img">
                <img src="../../../assets/img/plaza-santa-cecilia-4.jpg" alt="Plaza Santa Cecilia 4" class="gallery__img">
                <img src="../../../assets/img/plaza-santa-cecilia-5.jpg" alt="Plaza Santa Cecilia 5" class="gallery__img">
                <img src="../../../assets/img/plaza-santa-cecilia-7.jpg" alt="Plaza Santa Cecilia 7" class="gallery__img">
            </div>
        </div>
    </section>
</main>
