<main class="main">
    <!-- Hero -->
    <section class="hero">
        <div class="hero__container">
            <h1 class="hero__title">Galería</h1>
            <img src="../../../assets/img/galeria-bg.jpg" alt="Mapa para llegar a Plaza Santa Cecilia" class="hero__bg">
            <div class="layer"></div>
        </div>
    </section>

    <!-- Galería -->
    <section class="gallery">
        <div class="gallery__container">
            <h1 class="gallery__title title">Lo que necesitas, todo en Santa Cecilia</h1>

            <div class="gallery__imgs">
                <img src="../../../assets/img/galeria-1.jpg" alt="Plaza Santa Cecilia 1" class="gallery__img">
                <img src="../../../assets/img/galeria-2.jpg" alt="Plaza Santa Cecilia 2" class="gallery__img">
                <img src="../../../assets/img/galeria-3.jpg" alt="Plaza Santa Cecilia 3" class="gallery__img">
                <img src="../../../assets/img/galeria-4.jpg" alt="Plaza Santa Cecilia 4" class="gallery__img">
                <img src="../../../assets/img/galeria-5.jpg" alt="Plaza Santa Cecilia 5" class="gallery__img">
                <img src="../../../assets/img/galeria-6.jpg" alt="Plaza Santa Cecilia 6" class="gallery__img">
                <img src="../../../assets/img/galeria-7.jpg" alt="Plaza Santa Cecilia 7" class="gallery__img">
                <img src="../../../assets/img/galeria-8.jpg" alt="Plaza Santa Cecilia 8" class="gallery__img">
                <img src="../../../assets/img/galeria-9.jpg" alt="Plaza Santa Cecilia 9" class="gallery__img">
                <img src="../../../assets/img/galeria-10.jpg" alt="Plaza Santa Cecilia 10" class="gallery__img">
                <img src="../../../assets/img/galeria-11.jpg" alt="Plaza Santa Cecilia 11" class="gallery__img">
                <img src="../../../assets/img/galeria-12.jpg" alt="Plaza Santa Cecilia 12" class="gallery__img">
                <img src="../../../assets/img/galeria-13.jpg" alt="Plaza Santa Cecilia 13" class="gallery__img">
                <img src="../../../assets/img/galeria-14.jpg" alt="Plaza Santa Cecilia 14" class="gallery__img">
                <img src="../../../assets/img/galeria-15.jpg" alt="Plaza Santa Cecilia 15" class="gallery__img">
                <img src="../../../assets/img/galeria-16.jpg" alt="Plaza Santa Cecilia 16" class="gallery__img">
                <img src="../../../assets/img/galeria-17.jpg" alt="Plaza Santa Cecilia 17" class="gallery__img">
                <img src="../../../assets/img/galeria-18.jpg" alt="Plaza Santa Cecilia 18" class="gallery__img">
                <img src="../../../assets/img/galeria-19.jpg" alt="Plaza Santa Cecilia 19" class="gallery__img">
                <img src="../../../assets/img/galeria-20.jpg" alt="Plaza Santa Cecilia 20" class="gallery__img">
                <img src="../../../assets/img/galeria-21.jpg" alt="Plaza Santa Cecilia 21" class="gallery__img">
                <!-- <img src="../../../assets/img/galeria-22.jpg" alt="Plaza Santa Cecilia 22" class="gallery__img">
                <img src="../../../assets/img/galeria-23.jpg" alt="Plaza Santa Cecilia 23" class="gallery__img">
                <img src="../../../assets/img/galeria-24.jpg" alt="Plaza Santa Cecilia 24" class="gallery__img">
                <img src="../../../assets/img/galeria-25.jpg" alt="Plaza Santa Cecilia 25" class="gallery__img"> -->
                <img src="../../../assets/img/galeria-26.jpg" alt="Plaza Santa Cecilia 26" class="gallery__img">
                <img src="../../../assets/img/galeria-27.jpg" alt="Plaza Santa Cecilia 27" class="gallery__img">
                <img src="../../../assets/img/galeria-28.jpg" alt="Plaza Santa Cecilia 28" class="gallery__img">
            </div>
        </div>
    </section>
</main>
